<!DOCTYPE HTML>
<html>
<head>
    <script type="text/javascript" src="../static/js/canvasjs.min.js"></script>
</head>
<body>
	<div id="chartContainer" style="height: 300px; width:80%;">
	</div>

	<script type="text/javascript">
	(function () {
  		'use strict';

    	var socket = new WebSocket('ws://localhost:8765');

    	var MAX_X_POINTS_LEN = 25;
    	var updateInterval = 500;
		var dataPoints = []; // dataPoints

		var chart = new CanvasJS.Chart("chartContainer",{
			title :{
			text: "Live Data"
			},
			data: [{
				type: "line",
				dataPoints: dataPoints
			}]
		});


  	  	socket.onmessage = function(event) {
   	    	var points = JSON.parse(event.data || {});

        	dataPoints.push({
            	x: +points[0] || 0,
            	y: +points[1] || 0
       		});
    	};

    	function reRenderChart () {
    		var extraLen = MAX_X_POINTS_LEN - dataPoints.length;
    		if (extraLen < 0) {
    			dataPoints.splice(0, -extraLen);
        	}

        	chart.render();
    	}

    	setInterval(reRenderChart, updateInterval);

    }());
    </script>
</body>
</html>