<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

        <script type="text/javascript" src="../static/js/main.js"></script>
    <link href="../static/flot/examples/examples.css" rel="stylesheet" type="text/css">
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../../excanvas.min.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="../static/flot/jquery.js"></script>
	<script language="javascript" type="text/javascript" src="../static/flot/jquery.flot.js"></script>

</head>
<body>

<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

	</div>

<!-- форма для отправки сообщений -->
<form name="publish">
  <input type="text" name="message">
  <input type="submit" value="Отправить">
</form>

<!-- здесь будут появляться входящие сообщения -->
<div id="subscribe"></div>
</body>
</html>